
/*carousel*/
.carousel-inner {
    height: 620px;
}
.carousel-caption {
    bottom: -130px;
    color: #031B4E;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #031d4d;
    background-clip: padding-box;
    border-top: none;
    border-bottom: none;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
}
.carousel-control-prev {
    left: -200px;
}
.carousel-control-next {
    right: -200px;
}
.carousel-control-prev-icon {
    background-image: url("../img/chevron-left.png");
}
.carousel-control-next-icon {
    background-image: url("../img/chevron-right.png");
}