@import url('./fonts.css');
@import url('./navbar.css');
@import url('./carousel.css');
@import url('./icon.css');

$primary : #1D58BF;

body{
  font-family: 'Open Sans','Helvetica','sans-serif';
}

a {
  color: $primary;
  text-decoration: none;
  background-color: transparent;
}

a:hover{
  text-decoration: none;
}

.v-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

//text
.text-primary{
  color: $primary!important;
}
/*bg*/
.bg-primary{
  background: $primary!important;
}
.bg-dark-blue{
  background: #010E28;
}

/*btn*/
.btn-primary{
  color: #fff!important;
  background: $primary!important;
  border-color: $primary!important;
}
.btn-primary:hover, .btn-primary:focus{
  color: #fff!important;
  background: $primary!important;
  border-color: $primary!important;
}
.btn-outline-primary{
  color: $primary!important;
  border-color: $primary!important;
}
.btn-outline-primary:hover, .btn-outline-primary:focus{
  color: #fff!important;
  border-color: $primary!important;
}
.btn-white{
  background: #fff;
  color: $primary;
}
.btn-header{
  padding: 15px 40px 17px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 6px;
  background: $primary;
  border-color: $primary!important;
  transition: all ease-in-out .2s;
}
.btn-header:hover{
  opacity: .9;
  color: #ffffff;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
}

.form-control:focus {
  transition: all ease-in-out .5s;
  color: #495057;
  background-color: #fff;
  border-color: $primary;
  outline: 0;
  box-shadow: none;
}

.pt-180{
  padding-top: 180px;
}

.pt-140{
  padding-top: 140px;
}

.pb-80{
  padding-bottom: 80px;
}

header{
  background: #ffffff;
  padding-top: 12%;
  overflow: hidden;
}
.header-caption h1{
  font-size: 37pt;
  color: #0D293B;
  margin-bottom: 0;
}
.header-caption .sub-head{
  font-size: 20px;
  font-weight: 600;
  color: $primary;
}

section{
  padding: 100px 0;
}

section h3{
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: #031B4E;
}

.section-title p.sub-desc{
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  color: #787d7a;
}

.nav-pills .nav-link {
  border-radius: 0;
  padding: 1rem;
  color: #7c8fa7;
  font-weight: 600;
  border-left: 2px solid gainsboro;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #091d35;
  border-left: 2px solid #007bff;
  background-color: #fff;
}

.tab-pane img, .tab-pane i{
  margin-bottom: 20px;
  font-size: 40px;
}

.tab-pane h5, .featureCard h5{
  color: #031B4E;
  font-weight: bold;
}

.tab-pane p, .featureCard p{
  color: #5b6987;
  font-weight: normal;
  line-height: 25.6px;
  font-size: 16px;
}

#getStartedNow{
  overflow: hidden;
}

footer{
  padding: 100px 0;
}
footer h6 {
  font-weight: 400;
  font-size: .95rem;
}
footer .nav-link {
  display: block;
  padding: .2rem 0;
  color: #808a96;
  font-size: .9rem;
}
footer .nav-link:hover {
  color: #fff;
}
footer hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 1px solid rgba(86,86,86,.98);
}
.social-icons i{
  font-size: 24px;
  margin: 0 5px;
}
.alert .close{
  float: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: initial;
  color: #007bff;
  opacity: 1;
  text-shadow: none;
}

.softwareHeader{
  background: #ffffff;
  padding-top: 12%;
}

.terms{
  padding-top: 200px;
}

.terms .sub-desc{
  font-size: 16px!important;
}

.terms .content-row p{
  color: #495057;
  font-weight: 300;
}

.counter
{
  text-align: center;
}

.card{
  background: rgb(255, 255, 255);
  border: 1px solid rgb(229, 232, 237);
  border-radius: 6px;
  padding: 24px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-bottom: 0px !important;
  box-shadow: rgba(3, 27, 78, 0.06) 0px 2px 4px !important;
  overflow: hidden;
}
.card:hover{
  box-shadow: rgba(3, 27, 78, 0.1) 0px 10px 20px !important;
  background-color: rgb(255, 255, 255) !important;
}
.card.hover-card:hover{
  transform: scale(1.01);
  box-shadow: rgba(3, 27, 78, 0.1) 0px 10px 20px !important;
  background-color: rgb(255, 255, 255) !important;
}
.counter img{
  width: 60px;
  margin: 0 auto;
}
.employees,.customer,.design,.order
{
  margin-top: 70px;
  margin-bottom: 70px;
}
.counter-count
{
  font-weight: bolder;
  font-size: 2rem;
  color: #2f2f2f;
  text-align: center;
  display: block;
  margin-bottom: 0;
}

.employee-p,.customer-p,.order-p,.design-p
{
  font-size: 18px;
  color: #5b6987;
}
.seeOurPosition{
  position: relative;
}
.seeOurPosition .card{
  position: absolute;
  left: 50%;
  top: 30%;
  width: 500px;
  z-index: 1024;
  transform: scale(1.01);
  box-shadow: rgba(3, 27, 78, 0.1) 0px 10px 20px !important;
}

.modal-backdrop.show {
  opacity: .85;
}

#builtFor{
  text-align: center;
}