@import url("./fonts.css");
@import url("./navbar.css");
@import url("./carousel.css");
@import url("./icon.css");
body {
  font-family: "Sailec", "Helvetica", "sans-serif" !important;
}

a {
  color: #fd5444;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}

.v-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-primary {
  color: #fd5444 !important;
}

/*bg*/
.bg-primary {
  background: #fd5444 !important;
}

.bg-matte-black {
  background: #121212;
}

/*btn*/
.btn-primary {
  color: #fff !important;
  background: #fd5444 !important;
  border-color: #fd5444 !important;
}

.btn-primary:hover, .btn-primary:focus {
  color: #fff !important;
  background: #fd5444 !important;
  border-color: #fd5444 !important;
}

.btn-outline-primary {
  color: #fd5444 !important;
  border-color: #fd5444 !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  color: #fff !important;
  border-color: #fd5444 !important;
}

.btn-white {
  background: #fff;
  color: #fd5444;
}

.form-control:focus {
  transition: all ease-in-out 0.5s;
  color: #495057;
  background-color: #fff;
  border-color: #fd5444;
  outline: 0;
  box-shadow: none;
}

.pt-140 {
  padding-top: 140px;
}

.pb-80 {
  padding-bottom: 80px;
}

.header-caption h1 {
  font-size: 3.8rem !important;
  font-weight: bold;
  text-transform: uppercase;
}

header {
  background: #ffffff;
  padding-top: 12%;
  padding-bottom: 80px;
  overflow: hidden;
}

header a {
  color: #fd5444;
}

header a:hover {
  color: #fd5444;
}

section {
  padding: 100px 0;
}

section h3 {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: #121212;
}

.section-title p.sub-desc {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  color: #787d7a;
}

.nav-pills .nav-link {
  border-radius: 0;
  padding: 1rem;
  color: #a2a8a5;
  font-weight: 600;
  border-left: 2px solid gainsboro;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #161616;
  border-left: 2px solid #fd5444;
  background-color: #fff;
}

.tab-pane span {
  margin-bottom: 20px;
  font-size: 80px !important;
}

.tab-pane h5, .featureCard h5 {
  color: #161616;
  font-weight: bold;
}

.tab-pane p, .featureCard p {
  color: #727475;
  font-weight: normal;
  line-height: 25.6px;
  font-size: 16px;
}

#getStartedNow {
  overflow: hidden;
}

footer {
  padding: 100px 0;
}

footer h6 {
  font-weight: 400;
  font-size: 0.95rem;
}

footer .nav-link {
  display: block;
  padding: 0.2rem 0;
  color: #808a96;
  font-size: 0.9rem;
}

footer .nav-link:hover {
  color: #fff;
}

footer hr {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 1px solid rgba(86, 86, 86, 0.98);
}

.social-icons i {
  font-size: 24px;
  margin: 0 5px;
}

.alert .close {
  float: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: initial;
  color: #fd5444;
  opacity: 1;
  text-shadow: none;
}

.softwareHeader {
  background: #fd5444;
  padding-top: 12%;
  padding-bottom: 80px;
}

.terms {
  padding-top: 200px;
}

.terms .sub-desc {
  font-size: 16px !important;
}

.terms .content-row p {
  color: #495057;
  font-weight: 300;
}

.counter {
  text-align: center;
}

.card {
  background: white;
  border: 1px solid #e5e8ed;
  border-radius: 5px;
  padding: 24px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-bottom: 0px !important;
  box-shadow: rgba(3, 27, 78, 0.06) 0px 2px 4px !important;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: rgba(3, 27, 78, 0.1) 0px 10px 20px !important;
  background-color: white !important;
}

.counter img {
  width: 60px;
  margin: 0 auto;
}

.employees, .customer, .design, .order {
  margin-top: 70px;
  margin-bottom: 70px;
}

.counter-count {
  font-weight: bolder;
  font-size: 2rem;
  color: #2f2f2f;
  text-align: center;
  display: block;
  margin-bottom: 0;
}

.employee-p, .customer-p, .order-p, .design-p {
  font-size: 18px;
  color: #787d7a;
}

/*# sourceMappingURL=custom.css.map */
