@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@font-face {
    font-family: Gilroy;
    src: url('../fonts/gilroy/Gilroy-Light.ttf');
    font-weight: 300
}
@font-face {
    font-family: Gilroy;
    src: url('../fonts/gilroy/Gilroy-ExtraBold.ttf');
    font-weight: 800
}