body{
    font-family: 'Sailec','Helvetica','sans-serif' !important;
}

a {
    color: #0061ff;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    text-decoration: none;
}

.v-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*bg*/
.bg-primary{
    background: #0061FF!important;
}
.bg-dark-blue{
    background: #010E28;
}

/*btn*/
.btn-outline-primary{
    color: #0061FF!important;
    border-color: #0061FF!important;
}
.btn-outline-primary:hover, .btn-outline-primary:focus{
    color: #fff!important;
    border-color: #0061FF!important;
}
.btn-white{
    background: #fff;
    color: #0061ff;
}

.form-control:focus {
    transition: all ease-in-out .5s;
    color: #495057;
    background-color: #fff;
    border-color: #0061ff;
    outline: 0;
    box-shadow: none;
}