
.topBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.primaryNav{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    border-top: 1px solid gainsboro;
    z-index: 9999;
}

.dropdown-toggle::after {
    display: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: fixed;
    top: 102px;
    left: 0;
    min-width: 100vw;
    border: none;
    border-top: 1px solid gainsboro;
    padding: 4rem;
    border-radius: 0 0 6px 6px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    font-family: 'Sailec','Helvetica','sans-serif' !important;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: .6rem .8rem;
    clear: both;
    font-weight: 400;
    color: #091d35;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: all ease-in-out .2s;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover{
    background: #f2faff;
    color: #007bff;
}
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item i{
    margin-right: 24px;
    font-size: 34px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(39 64 103);
    padding: .8rem;
    font-weight: 600;
    font-size: 14px;
}

.topBar .nav-link {
    color: rgb(39 64 103);
    padding: .3rem .8rem!important;
    font-size: 12px!important;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover{
    color: #0061FF;
}

.nav-link.btn{
    padding: .4rem .8rem!important;
}

.menu-sub-title{
    color: #010E28;
    font-size: 10px;
    letter-spacing: 1px!important;
    text-transform: uppercase;
    font-weight: 600;
}

.item-title{
    font-size: 16px;
    font-weight: 600;
    color: #010E28;
}

.item-desc{
    font-size: 16px;
    font-weight: 500;
    color: hsl(221,19%,44%) !important;
}

