@media (max-width: 991px){
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        top: 44px;
        left: 0;
        min-width: auto;
        border: none;
        border-top: 2px solid gainsboro;
        padding: 1rem;
        border-radius: 0 0 6px 6px;
    }
    header {
        padding-top: 70px;
        overflow: hidden;
    }
    .header-caption h1 {
        font-size: 3rem!important;
        font-weight: 600!important;
    }
    section h3 {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        color: #031B4E;
    }
    .nav.nav-pills{
        flex-wrap: nowrap;
        justify-content: center;
    }
    .nav-pills .nav-link {
        border-radius: 0;
         padding: .8rem;
        color: #7c8fa7;
        font-weight: 400;
        border-left: 2px solid gainsboro;
        font-size: 14px;
    }
    .fa-2x {
        font-size: 1.8em;
    }
    .tab-content{
        margin-top: 30px;
    }
    .alert-dismissible {
        padding: 1rem;
    }
    footer {
        padding: 60px 30px;
    }
}