@media (max-width: 991px){
    .primaryNav {
        top: 0px;
        padding: 0;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
        top: 44px;
        left: 0;
        min-width: 100%;
        border: none;
        border-top: 2px solid transparent;
        padding: 1rem;
        border-radius: 0 0 6px 6px;
    }
    .navbar-collapse {
        background: #ffffff;
        padding: 20px 10px;
    }
    .navbar-light .navbar-brand {
        margin: 10px;
    }
    header {
        padding-top: 110px;
        overflow: hidden;
        text-align: center;
    }
    .softwareHeader {
        background: #ffffff;
        padding-top: 32%;
    }
    .header-caption h1 {
        font-size: 3rem!important;
        font-weight: 600!important;
    }
    section h3 {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        color: #031B4E;
    }
    #getStartedNow{
        text-align: center;
    }
    #getStartedNow h3{
        margin-bottom: 20px;
    }
    .nav.nav-pills{
        flex-wrap: nowrap;
        justify-content: center;
    }
    .nav-pills .nav-link {
        border-radius: 0;
         padding: .8rem;
        color: #7c8fa7;
        font-weight: 400;
        border-left: 2px solid gainsboro;
        font-size: 14px;
    }
    .fa-2x {
        font-size: 1.8em;
    }
    .tab-content{
        margin-top: 30px;
        text-align: center;
    }
    .alert-dismissible {
        padding: 1rem;
    }
    footer {
        padding: 60px 30px;
        text-align: center;
    }
    footer span{
        display: block;
        margin: 20px 0;
    }

    .carousel-inner {
        height: auto;
    }
    .carousel-caption {
        bottom: 20px;
        color: #031B4E;
    }
    .carousel-indicators li {
        box-sizing: content-box;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        margin-left: 10px;
        text-indent: -999px;
        cursor: pointer;
        background-color: #031d4d;
        background-clip: padding-box;
        border-top: none;
        border-bottom: none;
        opacity: .5;
        transition: opacity .6s ease;
        border-radius: 50%;
    }
    .carousel-control-prev {
        left: 0;
    }
    .carousel-control-next {
        right: 0;
    }
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 430px;
        margin: 1.75rem auto;
    }
}